{% extends "base.html" %}

{% block content %}

    <h1>Add a Blog Entry</h1>
        <form action='/newpost' method='POST'>
            <table>
                <tr>
                    <td>
                        <label for="blog-title">Title:</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input name="blog-title" value="" type="text"/>
                        <br>
                        <span class="error">{{title_error}}</span>
                    </td>
                </tr>
                <br>
                <br>
                <tr>
                    <td>
                        <label for="blog-post">Blog Post:</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <textarea name="blog-post" value="" type="text"></textarea>
                        <br>
                        <span class="error">{{blog_post_error}}</span>
                    </td>
                </tr>
            </table>
            <input type="submit" value="Submit"/>
        </form>
    {% endblock %}